<!-- render your name, where you're from, your year (freshman/sophomore/junior/senior/etc), a fun fact, and what you're most excited about in this class. 
Bonus: add and render a picture of yourself (upload your file into assets/images). Check out the rails image_tag helper.
Bonus 2: use CSS to style your text (add background colors, underline it, anything you want!)
 -->

<style>
	body {
	  background: teal;
	}
	body {
		color: white;
		text-align: center;
		padding: 2rem;
	 	padding-bottom: 4rem;
	    width: 50rem;
	    margin: 0 auto;
	    transition: 1.5s;
	}
	h1 {
		transition: 0.5s;
	}
	h1:hover {
		font-size: 35px;
	}
</style>
<h1> <b> MARIYA ALEXANDROVNA RYBAK </b> </h1>
<br>
<p><em> Origin: Ukraine </em><p>
<p><em> 4th year undergrad </em></p>
<p> Fun facts: 
	I'm a sex educator, food-enthusiast, and movie-lover. I'm super into Star Trek (finished TNG and soon to be done with Voyager) and Lord of the Rings. I have a lot of crazy dreams most nights, usually about zombies or weird scenarios. I do some powerlifting, have a crazy boba addiction, and reallyyyyyy love big dogs. </p>
<br>
<p> I'm excited to learn to make real, nice, functional, pretty finished projects. </p>
<%= image_tag 'selfie.jpg', size: "400x700" %>
